body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonContainer {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonInput {
    padding: 10px 20px;
    border: solid;
    border-radius: 8px;
    margin: 10px;
}

button[type="submit"] {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 900;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(31, 206, 31);
}

.nameDisplay {
    font-size: 38px;
    margin: 10px 0;
}
.spriteDisplay {
    width: 150px;
    height: 150px;
}
.typeDisplay, .abilityDisplay, .heightDisplay, .weightDisplay, .colorDisplay {
    font-size: 18px;
    margin: 5px 0;
}