body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonContainer {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}